$color-blue: #b2d235;
$font-family: Open Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
$shadow-hapo: #888888;
$color-button: white;
$footer-bg: #505353;
$footer-end: #454545;
$star: yellow;
