@import "variable";

@media only screen and (max-width: 1500px) {
  .header {
    padding: 10px;

    .navbar {
      padding: 0px;

      img {
        width: 275px;
      }

      .navbar-menu-div {
        justify-content: flex-end;
      }

      .nav-link {
        margin: 10px;
        font-weight: 700;
        font-family: $font-family;
        font-size: 20px;
      }

      .nav-link:hover {
        padding: 5px 10px 10px 5px;
        background-color: $color-blue;
        border-radius: 35px;
        color: $color-button !important;
      }
    }
  }

  .banner {
    background-image: url("../assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;

    .info-banner {
      padding: 50px;

      p:nth-child(1) {
        margin-top: 140px;
        font-size: 55px;
        font-family: $font-family;
      }

      p:nth-child(2) {
        font-size: 55px;
        font-weight: 700;
      }

      img {
        width: 55px;
      }

      p:nth-child(3) {
        font-size: 25px;
      }

      button {
        font-size: 35px;
        border: 0;
        background-color: $color-blue;
        border-radius: 35px;
        width: 400px;
        box-shadow: 2px 7px 5px $shadow-hapo;
        margin-bottom: 200px;
        color: $color-button;
      }
    }
  }

  .tutorial-hapo {
    margin-top: 30px;

    .other-courses {
      .courses {
        font-size: 60px;
        margin-top: 80px;
        font-weight: 700;
      }

      .underline {
        font-size: 75px;
        color: $color-blue;
        margin-top: -90px;
        margin-bottom: 30px;
      }
    }

    .view-courses p {
      font-size: 50px;
      color: $color-blue;
      margin-top: 60px;
      margin-bottom: 120px;
    }

    .card-hapo {
      img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: 1px 1px 12px $shadow-hapo;
      }

      a {
        background-color: $color-blue;
        font-size: 18px;
        width: 200px;
        border-radius: 35px;
        border: 0;
        box-shadow: 1px -2px $shadow-hapo;
        padding: 10px;
        margin-bottom: 20px;
      }

      .card-body p:nth-child(1) {
        font-size: 30px;
        color: $color-blue;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 35px;
      }
    }

    .card-body {
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      box-shadow: 1px 1px 5px $shadow-hapo;
      background-color: $color-button;
    }
  }

  .why-hapo {
    .bg-whyhapo img {
      height: 570px;
      width: 100%;
    }

    .laptop img {
      margin-top: -75px;
      width: 200px;
    }

    .laptop-phone img {
      margin-right: 30px;
      margin-top: 90px;
      width: 600px;
    }

    p {
      color: $color-button;
      font-size: 70px;
      margin: 200px 0px 0px 100px;
    }

    ul {
      list-style-type: circle;
    }

    .list-whyhapo {
      margin: 300px 0px 0px 100px;
      color: $color-button;
      font-size: 20px;
    }
  }
  .feelback {
    p:nth-child(1) {
      font-weight: 700;
      font-size: 70px;
    }

    p:nth-child(2) {
      font-size: 70px;
      font-weight: 700;
      color: $color-blue;
      margin-top: -100px;
    }

    p:nth-child(3) {
    }
  }

  .your-class {
    width: 70%;
  }
  .card-info-feelback {
    width: 30%;
  }

  /*
----------------------------
*/
  .become-member {
    background-image: url("../assets/img/become-member.png");
    background-repeat: no-repeat;

    .info-become {
      padding: 100px;

      p:nth-child(1) {
        font-size: 60px;
        font-weight: 700;
        color: $color-button;
      }

      button {
        font-size: 35px;
        border: 0;
        background-color: $color-button;
        border-radius: 35px;
        width: 400px;
        box-shadow: 2px 7px 5px $shadow-hapo;
        margin-bottom: 200px;
        color: $color-blue;
      }
    }
  }

  
}

@media only screen and (max-width: 770px) {
  .header {
    .navbar {
      display: block;

      img {
        width: 400px;
        margin-left: auto;
      }

      p {
        text-align: center;
      }
    }

    .navbar-nav {
      margin: auto;
      margin-top: -30px;

      li {
        margin-left: 10px;
        font-weight: 700;
      }
    }
  }

  .banner {
    .info-banner {
      padding: 50px;
      margin-top: -20px;

      p:nth-child(1) {
        margin-top: 15px;
        font-size: 30px;
        font-family: $font-family;
      }

      p:nth-child(2) {
        font-size: 30px;
        font-weight: 700;
        margin-top: -20px;
      }

      img {
        width: 35px;
      }

      p:nth-child(3) {
        font-size: 15px;
        margin-top: -15px;
      }

      button {
        font-size: 20px;
        border: 0;
        background-color: $color-blue;
        border-radius: 35px;
        width: 190px;
        box-shadow: 2px 7px 5px $shadow-hapo;
        margin-bottom: 120px;
      }
    }
  }

  .tutorial-hapo {
    margin-top: -40px;

    .other-courses {
      margin-top: -50px;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .take-course {
      margin-bottom: -10px;
    }

    .view-courses p {
      font-size: 40px;
    }
  }
  .why-hapo {
    .bg-whyhapo img {
      height: 395px;
    }

    .laptop img {
      margin-top: -60px;
      width: 160px;
    }

    .laptop-phone img {
      margin-right: 10px;
      margin-top: 100px;
      width: 400px;
    }

    p {
      color: $color-button;
      font-size: 50px;
      margin: 25px 0px 0px 220px;
    }

    .list-whyhapo {
      margin: 180px 0px 0px 0px;
      color: $color-button;
      font-size: 14px;

      li {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  .header {
    z-index: 100;
    width: 100vw;
    background-color: $color-button;
    position: fixed;

    .navbar-brand {
      position: absolute;
      top: -5px;
      left: 25%;
      width: 150px;

      .img-logo img {
        width: 230px;
      }
    }

    .navbar-menu-div {
      margin: 40px;
    }
  }

  .banner {
    width: 100%;
    margin-top: 60px;

    .info-banner {
      margin-left: 25px;

      p:nth-child(1) {
        font-size: 25px;
        margin-top: 150px;
      }

      button {
        width: 260px;
        padding: 5px;
        margin-bottom: 30px;
      }
    }
  }

  .tutorial-hapo {
    .card-hapo {
      width: 300px;
      margin-bottom: 35px;
    }

    .other-courses {
      .courses {
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 30px;
      }

      .underline {
        font-size: 50px;
      }
    }

    .view-courses p {
      margin-top: 5px;
      font-size: 25px;
    }
  }

  .why-hapo {
    .bg-whyhapo img {
      height: 570px;
    }

    .laptop img {
      margin-top: -48px;
      width: 130px;
    }

    .laptop-phone img {
      margin-right: 50px;
      margin-top: 340px;
      width: 316px;
    }
  }

  .why-hapo p {
    color: $color-button;
    font-size: 50px;
    margin: 28px 0px 0px 120px;
  }
}
